@use "../../base/colors" as *;

.base-container {
	display: flex;
	flex-direction: column;
	padding: 1.25rem;
	background-color: $white;
	border: 1px solid $color-divider;
	border-radius: 12px;
	transition: all 0.3s ease;

	&:hover {
		border-color: rgba($color-primary, 0.3);
	}
}
